.button {
  border: none;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 -1px 0 rgb(0, 0, 0), 0 1px 1px rgb(0, 0, 0);
  background: #1459bf;
  font-weight: 400;
  font-size: 20px;
  transition: all 0.5s ease;
  padding: 1rem 2rem;
  border-radius: 10px;
}
.button:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.button.primary {
  color: #fff;
  font-size: 15px;
}
.button.secondary {
  color: #fff;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.038);
}

.button:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}