.navigationSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;

  .logo {
    margin-top: 30px;
    margin-top: 30px;
    color: #000;
    .logoFirstTwoLaters {
      color: rgb(75, 151, 223);
    }
  }

  .navigationMenu {
    margin-top: 30px;

    ul {
      display: flex;
      gap: 4rem;
      a {
        font-size: 18px;

        &:hover {
          color: #332e2e;
        }
      }
    }
  }

  .convertingLanguages select {
    margin-top: 30px;
    background-color: #1b1818;
    color: #fff;
    padding: 7px;
  }
}
