.ourFleetSection {
  margin: 11rem 0;

  color: #000;
  .ourFleet {
    padding: 4rem;

    display: flex;
    flex-direction: column;
    background-color: #1459bf;
    gap: 7px;

    h2 {
      font-size: 35px;
    }
    h4 {
      font-size: 20px;
    }
  }
}
