.ourFleetSection {
  margin: 2rem 0;
  color: #000;
}
.ourFleetSection .ourFleet {
  display: flex;
  flex-direction: column;
  background-color: #1459bf;
  gap: 7px;
  padding: 4rem;
}
.ourFleetSection .ourFleet h2 {
  font-size: 15px;
}
@media screen and (min-width: 768px) {
  .ourFleetSection .ourFleet h2 {
    font-size: 35px;
  }
}
.ourFleetSection .ourFleet h4 {
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .ourFleetSection .ourFleet h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .ourFleetSection .ourFleet {
    gap: 7px;
    padding: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .ourFleetSection {
    margin: 11rem 0;
  }
}