.carDetails {
  margin: 0 20px 0 20px;
}

.carDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  color: #000;
  background: linear-gradient(rgba(52, 47, 47, 0.454) 70%, rgba(0, 0, 0, 0.761) 100%);
  border-radius: 15px;
}
.carDetail .carDetailImg img {
  width: 100%;
  height: 300px;
  -o-object-fit: contain;
     object-fit: contain;
  background: linear-gradient(rgba(52, 47, 47, 0.454) 70%, rgba(0, 0, 0, 0.761) 100%);
  border-radius: 10px;
}
.carDetail .carDetailImg img:hover {
  background-color: rgba(106, 97, 97, 0.359);
}

.aboutCar {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7529411765);
  border-radius: 15px;
}
.aboutCar .aboutCarDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-items: center;
}
.aboutCar .aboutCarDetail .aboutCarDetailImg img {
  width: 100%;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}